@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


<!-- jQuery -->
        <script  type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      
        <!-- nanogallery2 -->
        <link    href="/css/nanogallery2.min.css" rel="stylesheet" type="text/css">
        <script  type="text/javascript"  src="/scripts/jquery.nanogallery2.min.js"></script>
        

 
 <div id="nanogallery2" data-nanogallery2='{
              "userID":           "148604149@N03",
              "kind":             "flickr",
              "photoset": "72157681969055922",
              "thumbnailHeight":  250,
              "thumbnailWidth":   300,
              "thumbnailLabel": {
                    "display": false
                }
            }'>
          </div>
         